/*
Lab2
ITCS1150
Raymond Zapp
LID00146825
lab_style2.css
*/

body{
  background-color: #EEEEFF; 
}

#intro_page{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 860px;
  background-color: #EBEBEB;
  font-family: Cursive;
  padding-left: 2%;
  padding-bottom: 15px;
  border: 2px solid #957C31;
  margin-top: -1%;
}

#intro_page > img{
  margin-left: 4%;
  margin-top: 1%;
  max-width: 100%;
}

article{
  margin-left: 5%;
}

p{
 font-size: 1.2em;
}

a{
  text-decoration: none;
}

p a:hover{
  background: #EEEEFF;
  color: #7A7A7A;
}

a img{
  box-shadow: 15px -10px 15px 5px #E2DCE6;
  margin-left: 5%;
}

ul{
  font-style: italic;
}

#middle{
  margin-left: 25%;
}

#bottom{
  font-size: 145%;
  text-align: center;
}